:root {
  --button-font-size: 1.5rem;
}

a {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: purple;
}

button {
  background-color: lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

button:disabled {
  color: white;
}

.button-cancel {
  color: red;
  font-size: var(--button-font-size);
}

.button-edit {
  color: blue;
  font-size: var(--button-font-size);
}

.button-ok {
  color: green;
  font-size: var(--button-font-size);
}

.error {
  color: red;
}

h1 {
  color: purple;
  font-size: 2rem;
  font-weight: bold;
}

input {
  border-color: lightgray;
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 0.5rem;
}

#main-nav ul {
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.nav-item a {
  color: blue;
  text-decoration: none;
}

.nav-item a.active {
  color: green;
}

.nav-item a:hover {
  color: purple;
}

#spinner {
  display: inline-block;
  width: 20px;
  height: 20px;

  border: 3px solid rgba(0, 0, 255, 0.3);
  border-radius: 50%;
  border-top-color: blue;

  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
