.todos .add-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;

  background-color: lightgray;
  padding: 1rem;
}

.todos .add-area input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  width: 20rem;
  padding: 0.5rem;
}

.todos .add-area .row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todos #color-input {
  margin-right: 1rem;
}

.todos ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
